<div class="banner" style="background-image: url('assets/images/IMG_7823.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
  <div class="shadow-main">
    <h1 class="title">{{'Activiteiten' | translate}}</h1>
    <app-breadcrumb [routes]="[title[constants._lang]]"></app-breadcrumb>
    <div class="item-content">
      <div class="gb-middle">
        <div class="slider-content activities">
          <div class="container activity-container">
            <div class="description-content">

            </div>
            <div class="img-content">
              <img src="/assets/images/no_image.png" alt="no_image.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
