<div class="banner" style="background-image: url('assets/images/IMG_7823.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
  <div class="shadow-main">
    <h1 class="title">{{'Contact' | translate}}</h1>
    <app-breadcrumb [routes]="[title[constants._lang]]"></app-breadcrumb>
    <div class="item-content">
      <div class="gb-middle">
        <div class="slider-content welcome">
          <h5>{{'Stichting Islamitsche gemeenschap Drachten' | translate}}</h5>
          <h1>{{'Welkom op onze website' | translate}}</h1>
          <div class="buttons">
              <!-- <a [routerLink]="['/contact']" [queryParams]="{lang: constants._lang}" class="btn btn-default">{{'Waar staan wij voor ?' | translate}}</a> -->
              <a (click)="goToContactSection()" class="btn btn-default">{{'Waar staan wij voor ?' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="contact-section" id="contact-section">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
      <div class="mb-5">
        <img src="assets/images/940_700.png" alt="" class="img">
      </div>
      <div class="mapouter">
        <div class="gmap_canvas">
          <div class="loader"></div>
          <iframe class="gmap_iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=Langewyk 133, 9202 CN Drachten&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
      <div class="main-content p-3">
        <aside class="contact-info">
          <h2 i18n class="title default-underline">Contact met ons op</h2>
          <p  i18n>
            Hebt u verdere vragen neemt u contact met ons op via het contactformulier
          </p>
          <ul>
            <li i18n>
              Langewyk 133, 9202 CN Drachten
            </li>
            <li>
              t: +31 512 78 50 13
            </li>
            <li>
              e: info@icentrum.nl
            </li>
            <li i18n>
              kvk: 01098755
            </li>
          </ul>
        </aside>
        <form [formGroup]="contactForm" (ngSubmit)="send()">
          <div class="form-group">
            <label i18n class="col-form-label form-control-label" for="firstname">Voornaam</label>
            <input class="form-control" type="text" id="firstname" formControlName="firstname" placeholder="Jouw voornaam.." i18n-placeholder>
            <div *ngIf="submitted && f['firstname'].errors" class="invalid-feedback">
              <div i18n *ngIf="f['firstname'].errors['required']">Voornaam is verplicht</div>
            </div>
          </div>
          <div class="form-group">
            <label i18n class="col-form-label form-control-label" for="lastname">Achternaam</label>
            <input class="form-control" type="text" id="lastname" formControlName="lastname" placeholder="Jouw achternaam.." i18n-placeholder>
            <div *ngIf="submitted && f['lastname'].errors" class="invalid-feedback">
              <div i18n *ngIf="f['lastname'].errors['required']">Achternaam is verplicht</div>
            </div>
          </div>
          <div class="form-group">
            <label i18n class="col-form-label form-control-label" for="email">E-mailadres</label>
            <input class="form-control" type="email" id="email" formControlName="email" placeholder="Jouw e-mailadres .." i18n-placeholder>
            <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
              <div i18n *ngIf="f['email'].errors['required']">E-mailadres is verplicht</div>
            </div>
          </div>
          <div class="form-group">
            <label i18n class="col-form-label form-control-label" for="tel">Tel</label>
            <input class="form-control" type="tel" id="tel" formControlName="tel" placeholder="Jouw tel .." i18n-placeholder>
            <div *ngIf="submitted && f['tel'].errors" class="invalid-feedback">
              <div i18n *ngIf="f['tel'].errors['required']">Tel is verplicht</div>
            </div>
          </div>
          <div class="form-group">
            <label i18n class="col-form-label form-control-label" for="subject">Onderwerp</label>
            <textarea class="form-control" id="subject" formControlName="subject" placeholder="Vraag of opmerking .." rows="4" i18n-placeholder></textarea>
            <div *ngIf="submitted && f['subject'].errors" class="invalid-feedback">
              <div i18n *ngIf="f['subject'].errors['required']">Onderwerp is verplicht</div>
            </div>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="manSex" id="manSex" checked value="man" (change)="checkmanSex()">
            <label i18n class="form-check-label" for="flexRadioDefault2">
              Man
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="womanSex" id="womanSex" value="woman" (change)="checkwomanSex()">
            <label i18n class="form-check-label" for="flexRadioDefault1">
              Vrouw
            </label>
          </div>
          <button i18n class="btn btn-secondary p-4 mt-4" type="submit">Verzenden</button>
        </form>
      </div>
    </div>
  </div>
</section>
