<div class="banner under_construction" style="background-image: url('assets/images/IMG_7823.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
  <div class="shadow-main">
    <div class="banner-content">
      <h1 class="m-4"><i class="fa fa-hourglass-half"></i></h1>
      <h2>{{'Binnenkort beschikbaar' | translate}}</h2>
      <h2>{{'Sorry, deze pagina is in aanbouw' | translate}}</h2>
      <!-- <p>Sorry, the page you are looking for is not found</p> -->
      <div class="buttons">
        <button [routerLink]="['/home']" [queryParams]="{lang: constants._lang}" class="btn btn-secondary">{{'Startpagina' | translate}}</button>
      </div>
    </div>
  </div>
</div>
