<div class="banner page404" style="background-image: url('assets/images/IMG_7823.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
  <div class="shadow-main">
    <div class="banner-content">
      <h1>4<i class="fa fa-frown-o"></i>4</h1>
      <h2>{{'Sorry, deze pagina is niet gevonden' | translate}}</h2>
      <!-- <p>Sorry, the page you are looking for is not found</p> -->
      <div class="buttons">
        <button [routerLink]="['/home']" [queryParams]="{lang: constants._lang}" class="btn btn-default">{{'Startpagina' | translate}}</button>
      </div>
    </div>
  </div>
</div>
