<div class="banner" style="background-image: url('assets/images/IMG_7823.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
  <div class="shadow-main">
    <h1 class="title">{{'Bloggen' | translate}}</h1>
    <app-breadcrumb [routes]="[title[constants._lang]]"></app-breadcrumb>
    <div class="item-content">
      <div class="gb-middle">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid p-4">
  <section class="p-4">
    <h2 class="title default-underline m-4">{{'Laatste blogs' | translate}}</h2>
    <div class="blog-section">
      <article class="blog-element">
        <div class="img_container">
          <img src="assets/images/who_is_allah.jpg" alt="who_is_allah.jpg">
        </div>
        <div class="content">
          <h2 class="title">Who is Allah ?</h2>
          <p class="description">Some of the biggest misconceptions that many non-Muslims have about Islam have to do with the word "ALLAH."</p>
        </div>
      </article>
      <article class="blog-element">
        <div class="img_container">
          <img src="assets/images/who_is_allah.jpg" alt="who_is_allah.jpg">
        </div>
        <div class="content">
          <h2 class="title">Who is Allah ?</h2>
          <p class="description">Some of the biggest misconceptions that many non-Muslims have about Islam have to do with the word "ALLAH."</p>
        </div>
      </article>
      <article class="blog-element">
        <div class="img_container">
          <img src="assets/images/who_is_allah.jpg" alt="who_is_allah.jpg">
        </div>
        <div class="content">
          <h2 class="title">Who is Allah ?</h2>
          <p class="description">Some of the biggest misconceptions that many non-Muslims have about Islam have to do with the word "ALLAH."</p>
        </div>
      </article>
    </div>
  </section>
</div>
