<div class="slider">
  <div id="home-carousel" class="carousel" data-ride="carousel">
      <div class="carousel-inner" role="listbox">

          <div class="item active slide_1" style="background-image: url('assets/images/IMG_7823.jpg'); background-size: cover; background-position: center center; background-repeat: no-repeat; opacity: 1;">
              <div class="container p0">
                  <div class="container-content p0">
                      <div class="gb-middle">
                          <div class="slider-info">
                            <div class="row m-2">
                              <div class="prayerWidget col-xl-4 col-lg-4 col-md-4 col-sm-5 col-xs-12 mt-3 mb-3">
                                <!-- <h1 i18n class="title default-underline">KALENDER</h1> -->
                                <!-- <iframe id="g2hFrame" title="islamic-calendar" style="width: auto;height: 320px;border-radius: 15px;" scrolling="no" src="https://www.islamicfinder.org/islamic-calendar/widgetGregorian?type=Gregorian"> </iframe> -->
                                <!-- <iframe id="iframe" title="prayerWidget" class="widget-m-top" style="height: 359px; border-radius: 15px;" scrolling="no" src="https://www.islamicfinder.org/prayer-widget/2528910/shafi/1/0/18.0/17.0"> </iframe> -->
                                <app-prayer-time-calendar></app-prayer-time-calendar>
                              </div>
                              <div class="col-xl-8 col-lg-8 col-md-8 col-sm-7 col-xs-12 mt-3 mb-3">
                                <!-- <h1 i18n class="title default-underline">AGENDA</h1> -->
                                <app-agenda-calendar></app-agenda-calendar>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="main-container-1">
  <div class="container p0">
    <div class="row m-0 introduction">
      <div class="col-md-6 col-sm-12 col-xs-12 mt-3 mb-5">
        <div>
          <img src="assets/images/570_540.png" alt="image" i18n-alt class="img">
        </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 mt-3 mb-5">
        <div class="container-text mt-4 p0">

          <h1 class="title default-underline">{{'Introductie' | translate}}</h1>

          <p>
            {{introduction![constants._lang]}}
          </p>

          <div class="buttons mt-4">
            <a [routerLink]="['/contact']" [queryParams]="{lang: constants._lang}" class="btn btn-default p-4">{{'Contact ons' | translate}}</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-default main-container-5">
  <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="content-1 pull-right">
              <h1 class="title default-underline text-white">{{'Nu doneren' | translate}}</h1>
              <p class="text-white">
                {{'Via deze link kunt u direct doneren.' | translate}}
              </p>
              <div class="buttons">
                <a [routerLink]="['/donation']" [queryParams]="{lang: constants._lang}" class="btn btn-secondary p-4 radius-2">{{'Doneren' | translate}}</a>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12 pos-ab">
          <div class="offset-image-1">
              <div class="shadow-r"></div>
          </div>
      </div>
  </div>
</div>

<div class="main-container-7">
  <div class="container">

      <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text-center">
                  <h1 class="title default-underline center">{{'Recente blogs' | translate}}</h1>
                  <p class="paragraph-white">{{'Het blogs van Icentrum' | translate}}</p>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 p-5" *ngFor="let blog of recentBlogs">
            <div class="person-card">
                <div class="person-img">
                    <a class="img-link" [routerLink]="['/blogs/'+ blog?.title![constants._lang]]" [queryParams]="{vqi: encodeString(blog._id), lang: constants._lang}">
                      <span><i class="icon-eye" aria-hidden="true"></i></span>
                      <img [src]="blog?.image" alt="image.jpg" class="img">
                    </a>
                </div>
                <div class="person-content">
                    <h3>
                      <a href="javascript:void(0)" class="title-white">{{blog!.title![constants._lang]}}</a>
                    </h3>
                    <ul class="gb-list mb-3">
                        <li class="author">
                          <a href="javascript:void(0)"> <i class="fa fa-user m-1" aria-hidden="true"></i>&nbsp;{{blog.author![constants._lang]}}</a>
                        </li>
                        <li class="date_publication">
                          <a href="javascript:void(0)"> <i class="icon-comment" aria-hidden="true"></i>{{blog?.date_publication | localeDate:'EEEE d MMMM':constants._lang}}</a>
                        </li>
                    </ul>
                    <p>
                      {{blog!.summary![constants._lang]}}
                    </p>
                </div>
                <div class="buttons">
                    <!-- <a *ngIf="blog?.external" [href]="blog?.external_link" class="btn btn-default">{{'Meer lezen' | translate}}</a> -->
                    <a [routerLink]="['/blogs/'+ blog?.title![constants._lang]]" [queryParams]="{vqi: encodeString(blog._id), lang: constants._lang}" class="btn btn-default">{{'Meer lezen' | translate}}</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
