<div class="widget agenda-calendar radius-3">
  <div class="row m-0">
    <div id="calendar-slider" class="large-12 column">
      <div>
        <div class="tabs m-0">
          <a id="tab_program" class="tab active" data-toggle="tab" (click)="showTab('program')">
            <!-- <img class="icon-mosque ml-3 mr-3 src="../assets/images/mosque_white.png" alt="mosque_white" style="width: 35px;"> -->
            <i class="fa fa-clock-o ml-3 mr-3 d-max-sm-none"></i>
            <!-- <span>Drachten</span> -->
            <span>{{'Programma' | translate}}</span>
          </a>
          <a id="tab_activities" class="tab" data-toggle="tab" (click)="showTab('activities')">
            <i class="fa fa-tasks ml-3 mr-3 d-max-sm-none"></i>
            <span>{{'Activiteiten' | translate}}</span>
          </a>
        </div>
        <div class="contents">
          <div id="content_program" data-toggle="tab" class="tab-content active">
            <table class="table m-0" *ngIf="lessons.length > 0">
              <tbody>
                <tr *ngFor="let lesson of lessons">
                  <td class="time">{{lesson.from | date: "shortTime" | time24to12Transform}} <i class="fa time-separator"></i> {{lesson.to | date: "shortTime" | time24to12Transform}}</td>
                  <td class="separator"></td>
                  <td class="title">{{lesson.title![constants._lang]}}</td>
                </tr>
                <!-- <tr>
                  <td class="time">06:54 AM <i class="fa fa-long-arrow-right"></i> 08: 20 AM</td>
                  <td class="separator"></td>
                  <td class="title">Charh AL MOUTAE</td>
                </tr>
                <tr>
                  <td class="time">01:22 PM <i class="fa fa-long-arrow-right"></i> 02:30 PM</td>
                  <td class="separator"></td>
                  <td class="title">Reading AL Hizb</td>
                </tr>
                <tr>
                  <td class="time">04:59 PM <i class="fa fa-long-arrow-right"></i> 06: 12 PM</td>
                  <td class="separator"></td>
                  <td class="title">Lecture entitled "Addawah to Allah"</td>
                </tr>
                <tr>
                  <td class="time">07:48 PM <i class="fa fa-long-arrow-right"></i> 08:48 PM</td>
                  <td class="separator"></td>
                  <td class="title">Reading Al Hizb</td>
                </tr>
                <tr>
                  <td class="time">09:11 PM <i class="fa fa-long-arrow-right"></i> 10:11 PM</td>
                  <td class="separator"></td>
                  <td class="title">Douae Al Khitam</td>
                </tr> -->
              </tbody>
            </table>
            <div class="empty_content" *ngIf="lessons.length <= 0">
              <p>{{'Geen programma gevonden voor vandaag !' | translate}}</p>
            </div>
            <div class="footer">
              <a class="more-contents" [routerLink]="['/agenda']">{{'Meer' | translate}} <i class="fa fa-arrow-right ml-1"></i></a>
            </div>
          </div>
          <div id="content_activities" data-toggle="tab" class="tab-content">
            <owl-carousel-o *ngIf="activities.length > 0" [options]="customSlideActivitiesOptions">
              <ng-template carouselSlide *ngFor="let activity of activities">
                <!-- <div class="row">
                  <div class="col-lg-4">
                    <img class="img-responsive" [src]="activity.image" alt="img" />
                  </div>
                  <div class="col-lg-8">
                    <div class="description">
                      <h5 class="title default-underline">{{activity.title![constants._lang]}}</h5>
                      <p>{{activity.description![constants._lang]}}</p>
                    </div>
                  </div>
                </div> -->
              </ng-template>
            </owl-carousel-o>
            <div class="empty_content" *ngIf="activities.length <= 0">
              <p>{{'Momenteel geen activiteit gevonden !' | translate}}</p>
            </div>
            <div class="footer">
              <a class="more-contents" [routerLink]="['/agenda']">{{'Meer' | translate}} <i class="fa fa-arrow-right ml-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
