<div class="widget agenda-calendar radius-3">
  <div class="row m-0">
    <div id="calendar-slider" class="large-12 column">
      <div>
        <div class="tabs m-0">
          <a id="tab_activities" class="tab active" data-toggle="tab" (click)="showTab('activities')">
            <i class="fa fa-tasks ml-3 mr-3 d-max-sm-none"></i>
            <span>{{'Activiteiten' | translate}}</span>
          </a>
          <a id="tab_program" class="tab" data-toggle="tab" (click)="showTab('program')">
            <!-- <img class="icon-mosque ml-3 mr-3 src="../assets/images/mosque_white.png" alt="mosque_white" style="width: 35px;"> -->
            <i class="fa fa-clock-o ml-3 mr-3 d-max-sm-none"></i>
            <!-- <span>Drachten</span> -->
            <span>{{'Programma' | translate}}</span>
          </a>
        </div>
        <div class="contents">
          <div id="content_activities" data-toggle="tab" class="tab-content active">
            <owl-carousel-o *ngIf="activities.length > 0" [options]="customSlideActivitiesOptions">
              <ng-template carouselSlide *ngFor="let activity of activities">
                <div class="activity-content m-4 p-4">
                  <div class="img-content col-xl-3 col-lg-4 col-md-4 col-sm-6 col-xs-12 p-0">
                    <img class="img-responsive" [src]="activity.image" alt="img" />
                  </div>
                  <div class="description-content col-xl-9 col-lg-8 col-md-8 col-sm-6 col-xs-12">
                    <h5 class="title default-underline">{{activity.title![constants._lang]}}</h5>
                    <p class="description">{{activity.description![constants._lang].length > 245 ? activity.description![constants._lang].substring(0, 245) + "..." : activity.description![constants._lang]}}</p>
                    <table class="other-details m-0">
                      <tbody>
                        <tr class="from-to">
                          <td class="icon">
                            <i class="fa fa-calendar"></i>
                          </td>
                          <td>
                            <h5> {{activity.from | localeDate:constants._lang:'EEEE d MMMM' | titlecase}} - {{activity.to | localeDate:constants._lang:'EEEE d MMMM' | titlecase}}</h5>
                          </td>
                        </tr>
                        <tr class="location">
                          <td class="icon">
                            <i class="fa fa-solid fa-map-marker"></i>
                          </td>
                          <td>
                            <h5> {{activity.locationAddress![constants._lang]}}</h5>
                          </td>
                        </tr>
                        <tr class="by">
                          <td class="icon">
                            <i class="fa fa-user"></i>
                          </td>
                          <td>
                            <h5> {{activity.by![constants._lang]}}</h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <a class="more-contents" [routerLink]="['/activities/' + activity.title![constants._lang]]" [queryParams]="{vqi: encodeString(activity._id), lang: constants._lang}">{{'Meer over' | translate}} <i class="fa arrow ml-1"></i></a>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
            <div class="empty_content" *ngIf="activities.length <= 0">
              <p>{{'Momenteel geen activiteit gevonden !' | translate}}</p>
            </div>
            <div class="footer">
              <a class="more-contents" [routerLink]="['/activities']" [queryParams]="{lang: constants._lang}">{{'Meer' | translate}} <i class="fa arrow ml-1"></i></a>
            </div>
          </div>
          <div id="content_program" data-toggle="tab" class="tab-content">
            <table class="table m-0" *ngIf="lessons.length > 0">
              <tbody>
                <tr *ngFor="let lesson of lessons">
                  <td class="time">{{lesson.from | date: "shortTime" | time24to12Transform}} <i class="fa time-separator"></i> {{lesson.to | date: "shortTime" | time24to12Transform}}</td>
                  <td class="separator"></td>
                  <td class="title">{{lesson.title![constants._lang]}}</td>
                </tr>
              </tbody>
            </table>
            <div class="empty_content" *ngIf="lessons.length <= 0">
              <p>{{'Geen programma gevonden voor vandaag !' | translate}}</p>
            </div>
            <div class="footer">
              <a class="more-contents" [routerLink]="['/agenda']" [queryParams]="{lang: constants._lang}">{{'Meer' | translate}} <i class="fa arrow ml-1"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
